* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
li, a {
    font-weight: 500;
    font-size: 16px;
    
    
}
.navlinks ul li{
    margin: 14px;
    padding: 14px;
    
}
.navlinks {
   list-style:none;
   background: #1a1a1a;
  
    
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;  

}

.navlinks ul li a{
        text-decoration:none;
        color:white;
}
.active, .navlinks ul li:hover{
    background:#0094ff;
    border-radius: 5px;
}

   
body
{
    background-image: url(img/b.png);

    
}
.baslik h2 {
    align-items: center;
    display: flex;
    justify-content: left;
    padding-inline:20px;
    height: 15vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.baslik p {
    align-items: center;
    display: flex;
    justify-content: left;
    padding-inline: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
     
    